body{
    background-color: rgb(160, 243, 7);
    height: 200%;
    width: 200%;

}
.image{
    display: relative;
    border: 100px;
    border-color: #333fff;
    border-radius: 50px;
}
.name{
    height: 30px;
    width: 200px;
    background-color: #333fff;

}